[submodule "cir"]
	path = cir
	url = https://github.com/kevindadi/cir.git
	branch = json-version
[submodule "cvn"]
	path = cvn
	url = https://github.com/kevindadi/cvn.git
[submodule "uni-llm"]
	path = uni-llm
	url = https://github.com/kevindadi/uni-llm.git
